* {
  box-sizing: border-box;
}

body { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 112.5%;
  font-weight: 400;
  line-height: 1.5;
  
}

header {
  padding: 2vh;
}

nav {
  display: flex;
  justify-content: space-around;
} 

h1, h2, h3 {
  text-align: center;
  font-weight: 300;
}

input,
button {
  font-size: 1em;
} 

.openingSection {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  justify-items: center;
  align-items: start;
}

.imageOpeningSection {
  grid-row: span 5;
}

.personalImage {
  max-width: 100%;
  height: auto;
}

.contactItems {
  grid-column: 2;
  grid-row-start: 1 / 5;
  max-width: 100%;
  height: auto;
  padding: 5px;
}