.contactSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.contactItems {
  display: inline-block;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background-color: white;
  filter: drop-shadow(0px 0px 1px darkgrey);
}

.contact-images {
  justify-items: center;
  align-items: center;
  vertical-align: middle;
}

.images {
  width: 2.5em;
}

@media (min-width: 800px) {
  .contactSection {
    grid-area: contact;
  }
}
