.opening {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 40px 5px 0px;
}

.opening__image {
  text-align: center;
}

.personalImage {
  width: 100%;
  max-width: 400px;
  filter: drop-shadow(0px 0px 5px darkgrey);
}

@media (min-width: 800px) {
  .opening__image {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }

  .opening__text {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
}
