.opening {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  column-gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  padding: 40px 5px 0px;
}

.opening__image {
  text-align: center;
  background-color: white;
  filter: drop-shadow(0px 0px 5px darkgrey);
  border-radius: 10px;
}

.personalImage {
  filter: drop-shadow(0px 0px 5px darkgrey);
}

.opening__text {
  background-color: white;
  filter: drop-shadow(0px 0px 5px darkgrey);
  border-radius: 10px;
}
