.skills {
  grid-row: 6 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 0;
  flex-wrap: wrap;
}

.interests {
  grid-row: 7 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 0;
  flex-wrap: wrap;
}

.skillsAndInterestsItems {
  padding: 5px;
  margin: 5px;
  border-left: 1px solid black;
  list-style-type: none;
}
