* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: repeat (8 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 112.5%;
  font-weight: 400;
  background-color: whitesmoke;
  line-height: 1.5;
  align-items: center;
}

a {
  color: whitesmoke;
}
