* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 112.5%;
  font-weight: 400;
  background-color: whitesmoke;
  line-height: 1.5;
}

a:link {
  color: whitesmoke;
  text-decoration: underline;
}

a:visited {
  color: whitesmoke;
  text-decoration: underline;
}

address {
  font-style: normal;
  color: black;
}
