* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 112.5%;
  font-weight: 400;
  line-height: 1.5;
}

header {
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-weight: 300;
  margin: 24px 0 10px;
}

input,
button {
  font-size: 1em;
}

address {
  font-style: normal;
  color: black;
}

.bodyHeading {
  text-align: center;
  font-weight: 300;
  margin: 40px 0 10px 0;
}

.contactHeading {
  text-align: center;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.openingSection {
  display: grid;
  grid-template-rows: repeat(6 1fr);
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
  margin: 5px 15px 5px 5px;
  justify-content: start;
  align-items: start;
  text-align: center;
}

.imageOpeningSection {
  grid-row: span 6;
}

.personalImage {
  max-width: 100%;
  height: auto;
}

.images {
  max-width: 100%;
  width: 40%;
  height: auto;
}

.contactItems {
  grid-column: 2;
  max-width: 100%;
  height: 16.66%;
  padding: 5px;
}

.cvSection {
  margin: 0 0 -30px 0;
}

.cvRow {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: start;
  width: 95vw;
  max-width: 1065px;
  margin: 0 0 30px 0;
}

.skillsAndInterests {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 0;
  flex-wrap: wrap;
}

.skillsAndInterestsItems {
  padding: 5px;
  margin: 5px;
  border-left: 1px solid black;
  list-style-type: none;
}

.copyrightNotice {
  margin: 50px 0 20px;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .openingSection {
    max-width: 700px;
    margin: 5px auto;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
  }
}
